/*-------------------------------------------
スクロールエフェクトのためのスタイル
-------------------------------------------*/
.scroll {
    position: relative;    /* 要素の位置を相対的に指定 */
    overflow: hidden;      /* 要素内のコンテンツがはみ出した際に非表示にする */
    display: inline-block; /* 要素をブロックレベルの要素として表示し、横並びに配置 */
}

/* スクロールエフェクトのための疑似要素 */
.scroll::before {
    background: #ed8; /* 背景色を指定 */
    position: absolute; /* 疑似要素の位置を絶対位置指定 */
    content: "";        /* コンテンツを追加しない */
    display: block;     /* ブロック要素として表示 */
    inset: 0;           /* 上下左右の位置を0に固定 */
}

/*-------------------------------------------
コンテナのスタイル
-------------------------------------------*/
.container {
    max-width: 800px; /* コンテナの最大幅を指定 */
    margin: auto;     /* 上下左右のマージンを自動で指定 */
    padding: 2rem;    /* 上下左右のパディングを指定 */
}

/*-------------------------------------------
見出しのスタイル
-------------------------------------------*/
h1, h2 {
    margin: 40rem 0 1rem; /* 上下のマージンを指定 */
}
